<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>rock, paper, scissors, lizard, spock</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
      <p>Who will you choose???</p>
    <%= yield %>
      <p>Don't be scared...</p>
  </body>
</html>


<!-- Notes:

1) create links(to navigate)
2) add actions (ie get action in controller)
3) add code to action
4) link with erb.file
5) populate .erb with it's content -->
